<h2>Editar Conta</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, "Senha", class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirmação da Senha", class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current_password, "Senha Atual", class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :current_password %>
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Atualizar", class: 'btn' %>
    </div>
  </div>
<% end %>
<hr>
<h3>Cancelar minha conta</h3>

<p>Não está satisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Voltar", :back %>
