<% content_for :sidebar do %>
	<p><i class="icon-user"></i> Usuário: <strong>@<%= @user.username %></strong></p>
	<p><i class="icon-time"></i> Conta criada em: <strong><%= @user.created_at.strftime("%d/%m/%Y") %></strong></p>
	<hr>
	<p><%= link_to "Procurar Amigo", users_path %></p>
<% end -%>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab">Timeline</a></li>
  <li><a href="#seguidores" data-toggle="tab">Seguidores</a></li>
  <li><a href="#seguindo" data-toggle="tab">Seguindo</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="profile">
  	<h3>@<%= @user.username %>' profile</h3>
  	<h4>Total de posts: <%= @user.posts.count %></h4>
  	<hr>
		<% @user.posts.order('created_at desc').each do |post| %>
			<div class="well">
				<p><%= post.body %></p>
				<hr class="soften">
				<p class="muted"><small><%= time_ago_in_words(post.created_at) %></small></p>
			</div>
		<% end -%>
  </div>
  <div class="tab-pane fade" id="seguidores">
    <h3>Seguidores</h3>
		<ul>  
		  <% @user.inverse_friends.each do |user| %>  
		  <li><%= user.username %></li>
		  <% end %>  
		</ul> 
  </div>
  <div class="tab-pane fade" id="seguindo">
		<h3>Seguindo</h3>
		<ul>
			<% @user.friendships.each do |friendship| %>
					<li>
						<%= friendship.friend.username %> 
						<% if current_user.eql? @user %>
							~> <%= link_to 'Remover Amigo', friendship, method: :delete, class: 'btn btn-small btn-danger', confirm: 'Você tem certeza?' %>
						<% end -%>
					</li>
			<% end -%>
		</ul>
  </div>
</div>