<%= form_for(@post, remote: true, class: 'form-inline') do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_area :body, class: 'span3', rows: 7, placeholder: 'O que você está pensando?' %> <br>
    <%= f.hidden_field :reply_to_id %>
    <%= f.submit "Enviar", class: "btn", id: 'teste' %>
<% end %>