<div class="well">
  <p><%= post.body %></p>
  <p class="muted"><small><%= link_to "@#{post.user.username}", post.user %> (<%= time_ago_in_words(post.created_at) %>)</small></p>
  <hr class="soften">
  <p>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= post.id %>" href="#collapse<%= post.id %>">
        Reply?
    </a>
    <% if current_user.eql? post.user %>
       | <%= link_to 'Destroy', post, method: :delete, remote: true %>
    <% end -%>
    <% unless post.reply_to_id.nil? %>
       | (REPLIED)
    <% end -%>
  </p>
</div>
<div class="accordion" id="accordion<%= post.id %>">
  <div class="accordion-group">
    <div id="collapse<%= post.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= form_for(@post, remote: true, class: 'form-inline') do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <%= f.text_area :body, value: "@#{post.user.username} ", class: 'span3', rows: 7, placeholder: 'O que você está pensando?' %> <br>
            <%= f.hidden_field :reply_to_id, value: post.id %>
            <%= f.submit "Enviar", class: "btn", id: 'teste' %>
        <% end %>
      </div>
    </div>
  </div>
</div>