<!DOCTYPE html>
<html>
<head>
  <title>Thorp - O lugar ideal para encontrar seus amigos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: url(<%= asset_path 'grey.png' %>);
      }
    </style>
</head>
<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if user_signed_in? %>
          <%= link_to "Thorp", posts_path, class: 'brand' %>
          <% else %>
          <%= link_to "Thorp", root_path, class: 'brand' %>
          <% end -%>
          <div class="nav-collapse collapse">
            <ul class="nav">
            	<% unless user_signed_in? %>
              <li><%= link_to "Home", root_path %></li>
              <% else %>
              <li><%= link_to "Timeline", posts_path %></li>
              <% end %>
              <!--<li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>-->
            </ul>
            <% if user_signed_in? %>
            <ul class="nav pull-right">
            	<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@<%= current_user.username %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ver Perfil</a></li>
                  <li><a href="#">Editar Perfil</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sair", logout_path %></li>
                </ul>
              </li>
            </ul>
            <% else %>
            <p class="pull-right login">
              <span><%= link_to "Login", login_path %></span>
            </p>
            <% end -%>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Sucesso!</h4>
        <%= notice %>
      </div>
      <% end -%>

      <% if alert %>
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Aviso!</h4>
        <%= alert %>
      </div>
      <% end -%>
      <%= yield :sidebar %>
      <%= yield %>

      <hr class="soften">

      <footer>
        <p>Desenvolvida por <%= link_to "StartupSeven", "http://startupseven.net", target: '_blank' %> &copy; <%= Time.now.year %></p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
